:root {
  --color-primary-light: #ffffff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-button-text: #4a4a4a;
  --color-black: #000000;
  --color-copyright: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
