.section {
  padding: 48px 0;

  &__title {
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 1;

    @media screen and (min-width: $bp-tablet) {
      font-family: 'Play';
      font-weight: 700;
      font-size: 64px;
      line-height: normal;
    }

    &--centered {
      text-align: center;
    }
  }
}
