@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --color-primary-light: #ffffff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-button-text: #4a4a4a;
  --color-black: #000000;
  --color-copyright: #747272;
}

/* Basic */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-brand-dark);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.font-play {
  font-family: 'Play';
  font-weight: 700;
  font-size: 64px;
  line-height: normal;
}

.font-play.centered {
  text-align: center;
}

a {
  font-style: normal;
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-link {
  color: var(--color-brand-dark);
}

.header-link:hover {
  color: var(--color-brand-light);
}

.header-icons {
  display: flex;
  gap: 32px;
}

.header-icon {
  fill: var(--color-brand-dark);
}

.header-icon:hover {
  fill: var(--color-brand-light);
}

/* Hero section */

.hero-section {
  padding: 123px 0 0 244px;
  height: 697px;
  background-image: url('../images/main-background.png'),
    linear-gradient(
      89deg,
      #fff 30.62%,
      rgba(255, 255, 255, 0.85) 41.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    );
  background-repeat: no-repeat;
  background-position: 100% 111.79%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hero-text p {
  margin-bottom: 0;
}

.hero-title {
  padding-top: 0;
  width: 100%;
  max-width: 529px;
  margin-bottom: 0px;
  font-family: 'Play';
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81;
  color: var(--color-brand-light);
  text-transform: capitalize;
}

.hero-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.button {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  border: 2px solid #2b7fff;
  border-radius: 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.button-text {
  margin-bottom: 0;
  width: 100%;
  max-width: 238px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-button-text);
}

/* Standarts section */

.standarts-section {
  padding: 0 0 128px 0;
}

.standarts-container {
  display: flex;
  gap: 28px;
}

.standarts-text {
  width: 100%;
  max-width: 710px;
  flex-shrink: 0;
}

.standarts-title {
  margin-bottom: 40px;
}

.standart-text {
  font-size: 22px;
  line-height: 1.7;
}

.standarts-images {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 500px;
}

.standarts-images > *:last-child {
  align-self: end;
  border-radius: 50%;
}

.standarts-images > *:first-child {
  align-self: start;
  border-radius: 50%;
}

.brand {
  color: var(--color-brand-light);
}

.dark-brand {
  font-weight: 600;
}

/* Advantages-section */

.advantages-section {
  background-image: linear-gradient(
    38deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}

.advantages-title {
  margin: 0 auto 48px;
  max-width: 435px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 56px;
  color: var(--color-black);
  line-height: 1.3;
}

.advantages-item {
  border-radius: 32px;
  padding: 24px 32px;
  text-align: center;
  background-color: var(--color-primary-light);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.card-title {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
}

.advantages-icon {
  fill: var(--color-brand-light);
}

.advantages-card p {
  width: 252px;
  margin-bottom: 0;
}

/* Procedures section*/

.procedures-title {
  margin-bottom: 48px;
}

.procedures-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.procedures-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  font-size: 22px;
  line-height: 1.18;
  color: var(--color-primary-light);
}

.procedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-card {
  height: 456px;
  padding: 372px 77px 32px 115px;
  background-image: linear-gradient(
    #011c4400,
    #011c44b9,
    var(--color-brand-dark)
  );
  border: 1px solid black; /*remove*/
  border-radius: 4px 120px;
}

.procedure-title {
  width: 152px;
  text-align: center;
}

/* Carousel */

.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-brand-dark);
  background-color: var(--color-primary-light);
  border-radius: 50%;
  border: 1px solid var(--color-brand-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-brand-light);
  fill: var(--color-primary-light);
  border: 1px solid var(--color-primary-light);
}

.carousel-button:hover .carousel-arrow {
  fill: var(--color-primary-light);
}

/* Contact section */

.contact-section {
  padding: 48px 0 94px;
}

.contact-title {
  margin-bottom: 48px;
}

.contact-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.contact-map {
  border: none;
  border-radius: 32px;
  flex-shrink: 0;
}

.contact-form {
  background-color: var(--color-brand-dark);
  flex-basis: 432px;
  border-radius: 32px;
}

.form-title {
  padding: 48px 56px;
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

/* Footer */

.footer-section {
  padding: 56px 0;
  background-color: var(--color-brand-dark);
  background-image: url(../images/footer-image.png);
  background-repeat: no-repeat;
  background-position: 92% 100%;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer-link {
  color: var(--color-primary-light);
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-icon {
  fill: var(--color-primary-light);
}

.footer-icon:hover {
  fill: var(--color-brand-light);
}

.footer-link:hover {
  color: var(--color-brand-light);
}

.address-icon {
  display: flex;
  gap: 24px;
}

.footer-copyright {
  color: var(--color-copyright);
  font-size: 13px;
  font-style: normal;
}
