.advantages-section {
  margin-top: 100px;

  @media screen and (min-width: $bp-mobile) {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    padding-top: 0;
  }

  &__container {
    margin-top: -92%;

    @media screen and (min-width: $bp-mobile) {
      margin-top: -90%;
    }
  }

  &__title {
    margin: 0 auto 24px;
    max-width: 210px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 48px;
      max-width: 435px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    width: 316px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 56px;
      color: var(--color-black);
      line-height: 1.3;
    }
  }

  &__item {
    border-radius: 32px;
    padding: 24px 32px;
    text-align: center;
    background-color: var(--color-primary-light);
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  }
}
