.contact-section {
  padding: 48px 0 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0 94px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    border: none;
    margin: 0 -16px;
    width: 100%;
    height: 232px;
    flex-shrink: 0;
    border-radius: 32px;

    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 320px;
      height: 480px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
      height: 480px;
    }
  }

  &__form {
    padding: 48px 56px;
    background-color: var(--color-brand-dark);
    background-image: url(../images/background-contact.png);
    height: 100%;
    max-height: 481px;
    width: 100%;
    max-width: 432px;
    border-radius: 32px;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/background-contact@2x.png');
  }
  }

  &__text {
    margin: 0 auto 32px;
    max-width: 274px;
    color: var(--color-primary-light);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  &__form-field {
    margin: 0 auto 16px;
    max-width: 310px;
    text-align: center;
  }

  &__button-form {
    display: block;
    margin: 0 auto 8px;

    &:hover {
      color: var(--color-primary-light);
      border: 2px solid var(--color-copyright);
      background-color: transparent;
    }
  }
}
