.footer-section {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-brand-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: 92% 100%;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/footer-background@2x.png');
  }

  &::after {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      width: 250px;
      height: 150px;
      bottom: 0;
      right: 0;
      background-image: url(../images/footer-image.png);
      content: '';

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/images/footer-image@2x.png');
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      gap: 186px;
      text-align: left;
      align-items: flex-start;
    }
  }

  &__logo {
    max-width: 83px;
  }

  &__menu {
    max-width: 203px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__link {
    color: var(--color-primary-light);
    font-size: 16px;
    transition: color 0.2s;
  }

  &__link:hover {
    color: var(--color-brand-light);
  }

  &__address-list {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      max-width: 192px;
      display: flex;
      gap: 16px;
      flex-direction: column;
    }
  }

  &__info {
    max-width: 203px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__social-icon {
    display: flex;
    justify-content: space-around;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-icon {
    display: flex;
    gap: 24px;
  }

  &__icon {
    fill: var(--color-primary-light);
  }

  &__icon:hover {
    fill: var(--color-brand-light);
  }

  &__copyright {
    color: var(--color-copyright);
    font-size: 13px;
    font-style: normal;
  }
}
