.hero-section {
  padding: 70px 0 40px 0;
  background-image: url('/images/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/images/main-background@2x.png');
  }

  @media screen and (min-width: $bp-tablet) {
    padding: 123px 0 94px 244px;
    margin-bottom: 32px;
    background-image: url('/images/main-background.png');
    background-position: top right;
    background-size: auto;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/main-background@2x.png');
    }
  }

  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 319px;
    text-align: center;
    gap: 32px;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px;
      margin: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      align-items: flex-start;
      font-size: 18px;
      gap: 16px;
    }
  }

  &__title-text {
    margin-bottom: 0;
  }

  &__title {
    padding-top: 0;
    width: 100%;
    max-width: 330px;
    margin-bottom: 0px;
    font-family: 'Play';
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
    color: var(--color-brand-light);
    text-transform: capitalize;

    @media screen and (min-width: $bp-tablet) {
      font-family: 'Play';
      font-size: 140px;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
    }
  }

  &__button-text {
    margin-bottom: 0;
    width: 100%;
    max-width: 238px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-button-text);
  }
}
