.standarts-section {
  &__container {
    position: relative;

    @media screen and (min-width: $bp-desktop) {
      position: relative;
      display: flex;
      gap: 28px;
    }

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        position: absolute;
        top: 35px;
        right: 35px;
        background-image: url(../images/middle-star.png);
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        content: '';
        animation-name: spin-scale;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &::before {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        position: absolute;
        top: 270px;
        right: 68px;
        background-image: url(../images/small-star.png);
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        content: '';
        animation-name: spin-scale;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  &__text {
    width: 100%;
    max-width: 320px;
    font-size: 18px;
    line-height: 1.7;

    @media screen and (min-width: $bp-desktop) {
      width: 100%;
      max-width: 710px;
      flex-shrink: 0;
      font-size: 22px;
      line-height: 1.7;
    }

    &::after {
      position: absolute;
      background-image: url(../images/big-star.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: 450px;
      right: 0;
      width: 40px;
      height: 40px;
      content: '';
      animation-name: spin-scale;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/images/big-star@2x.png');
    }

      @media screen and (min-width: $bp-mobile) {
        top: 350px;
      }

      @media screen and (min-width: $bp-tablet) {
        top: 570px;
        right: 350px;
      }

      @media screen and (min-width: $bp-desktop) {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    width: 264px;

    @media screen and (min-width: $bp-desktop) {
      width: 530px;
      margin-bottom: 40px;
    }
  }

  &__text-mobile {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-basis: 500px;

    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        position: absolute;
        background-image: url(../images/big-star.png);
        background-repeat: no-repeat;
        top: 335px;
        right: 302px;
        width: 64px;
        height: 64px;
        content: '';
        animation-name: spin-scale;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &--black-arrow {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        align-self: start;
        border-radius: 50%;
      }
    }

    &--white-arrow {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        align-self: end;
        border-radius: 50%;
      }
    }
  }
}

@keyframes spin-scale {
  50% {
    transform: rotate(360deg);

    @media screen and (min-width: $bp-desktop) {
      transform: rotate(360deg) scale(1.5);
    }
  }

  100% {
    transform: rotate(720deg);

    @media screen and (min-width: $bp-desktop) {
      transform: rotate(720deg) scale(1);
    }
  }
}
